---
import Layout from '@levino/shipyard-base/layouts/Page.astro'
import Jumbotron from '../components/Jumbotron.astro'
import Project from '../components/Project.astro'
import ffwImage from '../images/ffw.jpeg'

const metadata = {
  title: 'Rössing',
  description: 'Alle Infos über Rössing',
}
---

<Layout {...metadata}>
  <Jumbotron>
    <div class="m-auto max-w-2xl text-center">
      <h1 class="text-4xl font-bold tracking-tight text-primary-content sm:text-6xl">
        Willkommen in Rössing
      </h1>
      <p class="mt-6 text-lg leading-8 text-primary-content/80">
        Rössing ist ein Dorf in Niedersachsen und gehört zur Gemeinde
        Nordstemmen im Landkreis Hildesheim. Wir haben im Moment etwa 1600
        Einwohner:innen und zahlreiche Vereine und Organe. Hier findet sich eine
        Übersicht.
      </p>
    </div>
  </Jumbotron>

  <div
    class="container max-w-7xl px-4 mx-auto gap-10 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 py-32"
  >
    <Project
      title="Die Dorfpflege"
      subtitle="Rössings Natur und Grünflächen in Schuss halten"
      linkUrl="https://www.dorfpflege-roessing.de"
    >
      <p class="text-base-content/80">
        Die Dorfpflege ist ein Verein, der sich um die Streuobstwiese im Dorf
        kümmert, gemeinsam Müll sammelt und sich um die Pflegemaßnahmen der
        Grünflächen und -bereiche kümmert. Außerdem organisiert die Dorfpflege
        das Osterfeuer und den Weihnachtsmarkt von Rössing.
      </p>
    </Project>
    <Project
      imageSource={ffwImage}
      title="Die Freiwillige Feuerwehr"
      subtitle="Retten, sichern und bergen in und um Rössing"
      linkUrl="https://www.ff-roessing.de"
    >
      <p class="text-base-content/80">
        Natürlich hat Rössing auch eine freiwillige Feuerwehr!
      </p>
    </Project>
  </div>
</Layout>
