<footer class="py-4 bg-neutral text-neutral-content flex">
  <div class="text-sm hidden md:inline mx-auto">
    <span>© 2023 Levin Keller. Alle Rechte vorbehalten.</span>
    <span class="hidden md:inline"> |</span>
    <a href="/imprint">Impressum</a>
    <span class="hidden md:inline"> |</span>
    <a href="https://github.com/levino/roessing.de" target="_blank"> Code</a>
  </div>
  <div class="text-sm text-center md:hidden mx-auto">
    <p>© 2023 Levin Keller. Alle Rechte vorbehalten.</p>
    <p>
      <a href="/imprint">Impressum</a>
    </p>
    <p>
      <a href="https://github.com/levino/roessing.de" target="_blank"> Code</a>
    </p>
  </div>
</footer>
